.contact {
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.contact img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}