.contact-form {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

.contact-form legend {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form .form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-form .form-control label {
    width: 150px;
}

.contact-form .form-control input {
    width: 80%;
    height: 40px;
    padding: 0 15px;
}

.image-preview {
    display: flex;
    margin-bottom: 20px;
}

.image-preview p {
    margin-right: 20px;
}

.image-preview img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.contact-form button {
    width: 200px;
    height: 40px;
    margin-right: 20px;
}