.modal-container {
    position: relative;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
}

.modal-content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.about-contact {
    padding-left: 20px;
}

.modal-content .buttons {
    width: 100%;
}